@using Microsoft.AspNetCore.Identity
@inject SignInManager<Users> signInManager

@if (signInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Admin"))
    {
        <li><a class="dropdown-item" asp-controller="Admin" asp-action="Index"> <i class="fas fa-home me-1"></i> Tablou de bord - Admin</a></li>
        <li><hr class="dropdown-divider"></li>
    }
    @if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark fw-semibold" asp-controller="Admin" asp-action="PendingCards">
                <i class="fas fa-id-card me-1"></i> Carduri de aprobat
            </a>
        </li>
    }
    <li><a class="dropdown-item" asp-controller="Profile" asp-action="Index"><i class="fas fa-user me-1"></i> Vizualizare Profil</a></li>
    <li><a class="dropdown-item" asp-controller="Profile" asp-action="Edit"><i class="fas fa-user-edit me-1"></i> Editare Profil</a></li>
    <li><a class="dropdown-item" asp-controller="Account" asp-action="ResetPassword"><i class="fas fa-key me-1"></i> Schimbă Parola</a></li>
    <li><hr class="dropdown-divider"></li>
    <li>
        <form method="post" asp-controller="Account" asp-action="Logout">
            <button type="submit" class="dropdown-item"><i class="fas fa-sign-out-alt me-1"></i> Deconectare
    </button>
        </form>
    </li>
}
