﻿@using App_CCP.View_Models;
@{
    ViewData["Title"] = "Verificare a adresei de e-mail";
}

<h2>@ViewData["Title"]</h2>

<p>Daca adresa dumneavoastra de e-mail se regaseste in sistem, veti primi un e-mail cu instructiuni de resetare a parolei!</p>
