﻿@using App_CCP.View_Models;
@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Resetare parola";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Trimite-mi link de resetare a parolei!</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
