﻿@using App_CCP.View_Models;
@{
    ViewData["Title"] = "Confirmare de resetare a parolei";
}

<h2>@ViewData["Title"]</h2>

<p>Parola dumneavoastra a fost resetata cu succes! Puteti sa apasati acum butonul de  <a asp-controller="Account" asp-action="Login">log in</a> folosind noua dumneavoastra parola.</p>
