@model IEnumerable<Review>

<h2>Recenzii publicate</h2>

@if (Model.Any())
{
    <ul class="list-group">
        @foreach (var review in Model)
        {
            <li class="list-group-item">
                <strong>@(string.IsNullOrWhiteSpace(review.Alias) ? "Anonim" : review.Alias)</strong>
                (la data: @review.DateCreated.ToString("dd/MM/yyyy"))

                <p>@review.Content</p>
            </li>
        }
    </ul>
}
else
{
    <p>Nu există recenzii disponibile.</p>
}
<div class="container text-end mt-4 mb-5">
    <button type="button" class="btn btn-outline-secondary back-button">
        <i class="fas fa-undo"></i> Înapoi
    </button>
</div>

