@model List<App_CCP.Models.Partners>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="Images/ccp_logo.png" alt="CCP Logo" title="CCP">
    <br>
    <br>
    <aside>
        <details>
            <summary>Ce reprezintă <strong>cardul CulturaPlus ?</strong></summary>
            <br>
            <p>CulturaPlus îți asigură accesul gratuit la <a href="https://institutfrancais.ro/timisoara/category/mediateca/#/">mediateca Institutului Francez</a> , la biblioteca Centrului Cultural German și la biblioteca digitală <a href="https://www.culturetheque.com/fr">Culturethèque</a>,  precum și o serie de beneficii și reduceri interesante la diverși  parteneri din domeniile cultural, educativ, sportiv și de divertisment din Timișoara.</p>
        </details>
    </aside>
</div>

<div class="row">
    @foreach (var partner in Model)
    {
        <div class="col-md-3 mb-4">
            <div class="card flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div class="partner-logo-box">
                            <img src="@partner.LogoUrl" alt="@partner.Name" />
                        </div>
                    </div>
                    <div class="flip-card-back p-2">
                        <h5>@partner.Name</h5>
                        <p>@partner.DiscountDetails</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>



