@{
    ViewData["Title"] = "Întrebări Frecvente";
}

<h2>Întrebări Frecvente</h2>

<h4>1.Ce fac dacă am uitat parola? </h4>
<p>Accesează <a asp-controller="Account" asp-action="ForgotPassword">Schimbă Parola</a> și urmează instrucțiunile.</p>

<h4>2. Cum îmi editez profilul?</h4>
<p>Poți edita profilul tău accesând <a asp-controller="Profile" asp-action="Edit">Editare Profil</a>.</p>

<div class="container text-end mt-4 mb-5">
    <button type="button" class="btn btn-outline-secondary back-button">
        <i class="fas fa-undo"></i> Înapoi
    </button>
</div>

