@{
    ViewData["Title"] = "Ajutor";
}

<h2>Ajutor & Suport</h2>
<p>Bine ai venit în secțiunea de ajutor. Alege una dintre opțiunile de mai jos:</p>

<ul>
    <li><a asp-action="FAQ">Întrebări frecvente</a></li>
    <li><a asp-action="Contact">Contact</a></li>
</ul>
<div class="container text-end mt-4 mb-5">
    <button type="button" class="btn btn-outline-secondary back-button">
        <i class="fas fa-undo"></i> Înapoi
    </button>
</div>


