@{
    ViewData["Title"] = "Fără profil de partener";
}

<div class="alert alert-warning mt-4">
    <h4 class="alert-heading">Profilul tău nu este disponibil!</h4>
    <p>Momentan, nu ești asociat cu niciun partener.</p>
    <hr />
    <p class="mb-0">Te rugăm să contactezi un administrator pentru asociere.</p>
</div>
